<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Editar Producto</title>
</head>
<body>
    <div style="text-align: center;">
        <h2>Productos - Editar</h2><br>
        <form action="{% url 'productoEdit' producto.id %}" method="POST">
            {% csrf_token %}
            <pre>Nombre del Producto:
            <input type="text" name="nombre" value="{{ producto.nombre }}"></pre>
            <pre>Descripción:
            <input type="text" name="descripcion" value="{{ producto.descripcion }}"></pre>
            <pre>Precio:
            <input type="number" name="precio" step="0.01" value="{{ producto.precio }}"></pre>
            <pre>Stock:
            <input type="number" name="stock" value="{{ producto.stock }}"></pre>
            <input type="submit" value="Guardar">
        </form><br><br>
        <a href="{% url 'productoCrud' %}">Volver</a>
        <br>
        <div id="idMensajes">
            {% if mensaje %}
                {{ mensaje }}
            {% endif %}
        </div>
    </div>
</body>
</html>
