<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente Dashboard</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="{% static 'style.js' %}"></script>
</head>
<body>
    <h2>Bienvenido,{{ profile.user.username }}</h2>
    <h2>Tus Pedidos:</h2>
    <ul>
        {% for order in orders %}
        <li>{{ order.product }} - {{ order.created_at }}</li>
        {% endfor %}
    </ul>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Cerrar Sesión</button>
    </form>
    <a href="{% url 'update_user' %}">Modificar Información</a>
    <a href="{% url 'delete_user' %}">Eliminar Cuenta</a>
</body>
</html>
 