<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="{% static 'style.js' %}"></script>
</head>
<body>
    <div style="text-align: center;">
        <h1>Dashboard de Usuarios</h1>
        <table>
            <tr>
                <th>Nombre de usuario</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{% url 'update_user' user.id %}">Editar</a>
                    <a href="{% url 'delete_user_view' user.id %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
