<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Información</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="{% static 'style.js' %}"></script>
</head>
<body>
    <h2>Actualizar Información</h2>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Actualizar</button>
    </form>
</body>
</html>
