body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    padding: 20px;
}

.container {
    margin-top: 50px;
}

h2 {
    margin-bottom: 20px;
    color: #555;
}


form {
    /*background: #fff;*/
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.content {
    padding: 16px;
    margin-top: 60px; /* Ajusta este valor si es necesario */
}


.nav-link.btn.btn-link {
    color: rgb(130, 168, 255); /* Color del texto */
    background-color: rgb(130, 168, 255) ; /* Color de fondo inicial */
}

.nav-link.btn.btn-link:hover {
    color: rgba(43, 56, 132, 0.58); /* Color del texto al pasar el mouse */
    background-color:  rgb(43, 56, 132); /* Color de fondo al pasar el mouse */
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9); /* Color del texto de los enlaces en la barra de navegación */
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1); /* Color del texto de los enlaces en la barra de navegación al pasar el mouse */
}


img {
    max-width: 100%;
    height: auto;
}
